/* tag */
html,body,a,div,span,ul,li {
	color: #000;
	display: block;
	font-size: 12px;
	line-height: 23px;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
ul {
	list-style-type: none;
}
li {
	float: left;
}

/* common */
.site-container {
	width: 960px;
	margin: 0 auto;
}
.left {
	float: left;
}
.center {
	float: left;
}
.right {
	float: right;
}

/* header */
.site-header {
	background-color: #005EAC;
	height: 30px;
}
.site-header a,span {
	color: #fff;
	line-height: 30px;
}
.site-header a {
	font-size: 14px;
}
.site-header li {
	margin: 0px 10px;
}
.site-nav {
}
.site-welcome {
	margin-left: 350px;
}
.site-settings {
}
.site-settings li {
}

/* body */
.site-body {}

/* body common-box */
.site-box {}
.site-box-title {}
.site-box-content {}
/* body common-template */
.info-template {}
.info-template .left {
	margin: 10px;
}
.info-template .center {
	margin: 0px 10px;
}
.info-template .right {
	margin: 0px 50px;
}
.info-template .nickname {}
.info-template .title {
}
.info-template .content {}
.info-template .city {}
.info-template .price {}

/* body top */
.site-body-top {
	height: 180px;
}
.site-ad {}
.site-qsearch {}

/* body bottom */
.site-body-bottom {}
.site-info {
	width: 650px;
}
.site-tab {
	border-left: 1px solid #ccc;
	height: 26px;
}
.site-tab li {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	height: 26px;
	padding: 0px 30px;
}
.site-tab-list {
	border-bottom: 1px solid #ccc;
}
.site-tab-list li {
	width: 100%;
}
.site-side {
}
.site-shortcuts {}
.site-hot {}

/* footer */
.site-footer {}
