.site-body {
	margin-top: 30px;
	padding: 0px 10px;
}
.site-shortcut .description {
	font-size: 12px;
	line-height: 23px;
	margin-left: 40px;
}
.site-shortcut .iwill {
	display: inline;
	font-size: 16px;
	font-weight: bold;
}
.site-shortcut input {
	border: 1px solid #333;
	height: 25px;
	width: 400px;
}
.site-shortcut button {
	border: 1px solid #333;
	height: 30px;
}

/* body common-box */
.site-box {}
.site-box-title {}
.site-box-content {}
/* body common-template */
.info-template {
	border-bottom: 1px dotted #ccc;
	height: 80px;
}
.info-template .left {
	margin: 5px;
}
.info-template .center {
	margin: 0px 10px;
}
.info-template .right {
	margin: 0px 50px;
}
.info-template .photo {
	width: 98px;
	height: 68px;
	border: 1px solid #ccc;
}
.info-template .author {
	display: inline;
}
.info-template .title {
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}
.info-template .content {
	margin: 0px;
}
.info-template .city {
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}
.info-template .price {
	font-size: 14px;
	font-weight: bold;
}

/* body main */
.site-body-main {}
.site-info {
	width: 650px;
}
.site-tab {
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	height: 26px;
}
.site-tab li {
	border-right: 1px dotted #ccc;
	height: 26px;
	padding: 0px 30px;
}
.site-tab li.actived {
	font-weight: bold;
}
.site-tab-list {
}
.site-tab-list li {
	width: 100%;
}
.site-side {
}
.site-shortcuts {}
.site-hot {}
