/* tag */
html,body,a,div,span,ul,li {
	color: #000;
	display: block;
	font-size: 12px;
	line-height: 23px;
	margin: 0px;
	padding: 0px;
}
ul {
	list-style-type: none;
}
li {
	float: left;
}

/* common */
.site-container {
	width: 960px;
	margin: 0 auto;
}
.left {
	float: left;
}
.center {
	float: left;
}
.right {
	float: right;
}

/* header */
.site-header {
	border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
	background-color: #005EAC;
	height: 30px;
}
.site-header a,span {
	color: #fff;
	line-height: 30px;
	text-decoration: none;
}
.site-header li {
	margin: 0px 10px;
}
.site-nav {
}
.site-nav a {
	font-size: 14px;
}
.site-welcome {
	margin-left: 350px;
}
.site-settings {
}
.site-settings li {
}

/* body */
.site-body {}

/* body common-box */
.site-box {}
.site-box-title {}
.site-box-content {}
/* body common-template */
.info-template {
	border-bottom: 1px dotted #ccc;
	height: 80px;
}
.info-template .left {
	margin: 5px;
}
.info-template .center {
	margin: 0px 10px;
}
.info-template .right {
	margin: 0px 50px;
}
.info-template .photo {
	width: 98px;
	height: 68px;
	border: 1px solid #ccc;
}
.info-template .author {
	display: inline;
}
.info-template .title {
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}
.info-template .content {
	margin: 0px;
}
.info-template .city {
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}
.info-template .price {
	font-size: 14px;
	font-weight: bold;
}

/* body main */
.site-body-main {}
.site-info {
	width: 650px;
}
.site-tab {
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	height: 26px;
}
.site-tab li {
	border-right: 1px dotted #ccc;
	height: 26px;
	padding: 0px 30px;
}
.site-tab li.actived {
	font-weight: bold;
}
.site-tab-list {
}
.site-tab-list li {
	width: 100%;
}
.site-side {
}
.site-shortcuts {}
.site-hot {}

/* footer */
.site-footer {}
