.site-body {
	border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	background: #fff;
	margin-top: 30px;
	overflow: hidden;
	padding: 10px 10px;
}
.site-body-main {
	border-right: 1px dotted #ccc;
	padding: 0px 15px;
	width: 620px;
}
.site-shortcut .description {
	font-size: 12px;
	line-height: 23px;
	margin-left: 40px;
}
.site-shortcut .iwill {
	display: inline;
	font-size: 16px;
	font-weight: bold;
	vertical-align: bottom;
}
.site-shortcut input {
	border: 1px solid #333;
	height: 25px;
	vertical-align: middle;
	width: 490px;
}
.site-shortcut button {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 1px 1px 4px #999;
	-webkit-box-shadow: 1px 1px 4px #999;
	-moz-box-shadow: 1px 1px 4px #999;
    background:-moz-linear-gradient(top, #ddd, #fff);
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ddd), to(#fff));
    background:-o-linear-gradient(top, #ddd, #fff);
	border: 1px solid #333;
	height: 27px;
	vertical-align: middle;
	width: 80px;
}
.site-tab {
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	height: 26px;
	margin-top: 10px;
}
.site-tab li {
	border-right: 1px dotted #ccc;
	height: 26px;
	padding: 0px 10px;
}
.site-tab a {
	line-height: 26px;
	text-decoration: underline;
}
.site-tab .actived {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #008CC6;
	color: #fff;
	padding: 0px 5px;
	margin-top: 3px;
	line-height: 20px;
}
.site-list li {
	width: 100%;
}
.site-body-side {
	padding: 0px 15px;
	width: 279px;
}
.site-search {
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background: #d8f5ff;
	padding: 10px 10px;
}
.site-search .wrap {
	height: 29px;
}
.site-search input {
	border: 1px solid #b7bbca;
	float: left;
	height: 27px;
	vertical-align: middle;
	width: 223px;
}
.site-search button {
	background: url(../img/btn-go.gif);
	border: 0px;
	float: left;
	height: 29px;
	vertical-align: middle;
	width: 34px;
}
.site-recent li {
	float: none;
}
.site-recent {
	padding-left: 20px;
}
.site-recent a {
	color: #0065b2;
	font-weight: bold;
	font-size: 14px;
}
/* template-buy-msg begin */
.template-buy-msg {
	border-bottom: 1px dotted #ccc;
	height: 80px;
}
.template-buy-msg .left {
	margin: 5px;
}
.template-buy-msg .center {
	margin: 0px 10px;
}
.template-buy-msg .right {
	margin: 0px 50px;
}
.template-buy-msg .photo {
	width: 98px;
	height: 68px;
	border: 1px solid #ccc;
}
.template-buy-msg .author {
	display: inline;
}
.template-buy-msg .title {
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}
.template-buy-msg .content {
	margin: 0px;
}
.template-buy-msg .city {
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}
.template-buy-msg .price {
	font-size: 14px;
	font-weight: bold;
}
/* template-buy-msg end */
